/**************************/
/* BELOW 1344px (smaller computers)*/
/**************************/
@media (max-width: 84em) {
    .heading-primary{
      font-size: 4.8rem;
 margin-bottom: 2rem;
    }
}
/**************************/
/* Below 1200px (landscape  tablets)*/
/**************************/

@media (max-width: 75em) {
  html {
 /* 9px/16px */
    font-size: 56.5%;
  }
  .header{
    /* padding: 2.4rem 9.6rem; */
  }

.cta-btn:link,
.cta-btn:visited {
  padding: 1.2rem 2.8rem;}


  .main-nav-link:link,.main-nav-link:visited{
     font-size: 1.8rem;

  }
  .hero-text {
  font-size: 2.2rem;
  
  
}
.cta-heading {
  font-size:3rem;
  font-weight: 600;

  
}
 .work-video {

  width: 100%;
  
  
}
}

/**************************/
/*  944px POTRAIT TABLET BELOW*/
/**************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .header{
    padding: 2.4rem 4rem;
  }
  .work-video {

  height: 250px;

  
}
  .nav-bar{
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 30%;
    height: 150px;
    border-radius: 1rem;
    padding: 2rem;

  }


   .nav-bar.open {
    display: block;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 1.5rem;
  }

  .main-nav-link {
    font-size: 2rem;
  }
  .work-text {

  width: 50%;
  
  
}

.cta-heading{
font-size: 2rem;
}
}

/* 
Below 544px(phones)
*/
@media (max-width: 34em) {
  .hero-content {
 transform: translate(15%,100%);
  width: 75%;
  text-align: center;
 
}   
.hero {
background-position: center;
aspect-ratio: auto;

}
.heading-primary {
  font-size: 3.6rem;
  
}
.heading-secondary{
    margin-bottom: 2.4rem;

}
.heading-tertiary{
    width: 100%;
    margin-bottom: 1rem;
}
.impact-section,.work-section{
    text-align: center;
}
.impact-container{
    grid-template-columns: repeat(1,1fr);
}
.impact-bottom{
    grid-template-columns: repeat(2 ,1fr);
    row-gap: 2.4rem;
    column-gap: 0rem;
}
.impact-stats-value{
    display: block;
    font-size: 3rem;
}
.work-section > .heading-tertiary {
  width: 100%;
  

}
.work-text {

  width: 100%;
  text-align: center;
  
}
.testimonial-text{
    text-align: center;
}
.cta-container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
   

 
}
.cta-content {
  grid-row: 3;
  text-align: center;
  padding: 2rem;

}
.cta-img {
  width: 100%;

  border-radius: 11px 11px 0 0;
}
.footer-inner{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  row-gap: 2.4rem;
  
}
.footer-left-text{
  width: 60%;
}
.footer-right{
 justify-content: start;
  align-items: start;
 
}
.footer-nav-link:link,
.footer-nav-link:visited{
    font-size: 1rem;
}
.contact-item{

font-size: 1rem;
}
.footer-left-text{
  font-size: 1rem;

   
}
.impact-stats:nth-child(2),.impact-stats:nth-child(4) {
  border: none;
}

}